@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
*{
    padding: 0;
    margin: 0;
    outline: none !important;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.fixed {
    position: fixed !important;
    top: 0 !important;
    z-index: 1000 !important;
}
.header-content {
    background-color: #000000;
}
.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    width: 140px;
    height: 80px;
    margin-right: 60px;
}
.wrapper {
    width: 1411px;
    margin: 0 auto;
    height: 100%;
}
.navigation {
    width: 100%;
}
.navbar-item  p {
    margin-bottom: 0 !important;
}
.navbar-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.navbar-menu > li{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    align-self: center;
}
.navbar-menu li a,
.navbar-menu li p{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.nav-enter {
    color: rgb(234,0,12) !important;
    font-weight: 400;
}
.navbar-item {
    display: flex;
    flex-direction: column;
}
.nav-enter-img {
    width: 20px;
    position: relative;
    top: -8px;
}
.nav-warehouse {
    color: #ffffff;
    font-weight: 400;
    cursor: pointer;
}

.nav-warehouse:hover {
    color: #ffffff;
}
.warehouses {
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 200;
    border: 1px solid rgb(234,0,12);
    padding: 5px;
    margin-left: -6px;
    margin-top: 5px;
    display: none;
}
.warehouses li {
    list-style: none;
    cursor: pointer;
}
.warehouses li:hover {
    color: rgb(234,0,12);
}
.warehouses-mobile {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 200;
    border: 1px solid rgb(234,0,12);
    padding: 5px;
    min-width: 157px;
    left: -30px;
    margin-bottom: 0 !important;
}
.warehouses-mobile li {
    top: 200px;
    color: #fff;
    list-style: none;
}
.addresses {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 200;
    border: 1px solid rgb(234,0,12);
    padding: 5px;
    min-width: 157px;
    margin-bottom: 0 !important;
    margin-top: 30px;
}
.addresses li {
    list-style: none;
    z-index: 200;
    cursor: pointer;
}
.addresses li:hover {
    color: rgb(234,0,12);;
}
.addressesMobile {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 200;
    border: 1px solid rgb(234,0,12);
    padding: 5px;
    min-width: 157px;
    margin-bottom: 0 !important;
    margin-top: 30px;
    left: 0;
}
.addressesMobile li {
    list-style: none;
    z-index: 200;
    cursor: pointer;
}
.phones {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 200;
    border: 1px solid rgb(234,0,12);
    padding: 5px;
    min-width: 157px;
    margin-bottom: 0 !important;
    margin-top: 30px;
}
.phones li {
    list-style: none;
    z-index: 200;
    cursor: pointer;
}
.phones li:hover {
    color: rgb(234,0,12);
}
.phones-mobile {
    display: none;
    position: absolute;
    background-color: #000;
    color: #fff;
    z-index: 200;
    border: 1px solid rgb(234,0,12);
    padding: 5px;
    min-width: 157px;
    margin-bottom: 0 !important;
    margin-top: 30px;
    right: 0;
}
.phones-mobile li{
    list-style: none;
    z-index: 200;
    cursor: pointer;
}
.nav-warehouse::after {
    content: url(../img/images/nav-arrow.png);
    margin-left: 5px;
}
input:checked ~  .nav-warehouse::after {
    content: url(../img/images/down-arrow-menu.png);
}
input:checked ~ .nav-address::after {
    content: url(../img/images/down-arrow-menu.png);
}
.nav-work-time {
    position: relative;
}
.nav-work-time::before {
    content: url("../img/svg/clock-01.svg");
    position: absolute;
    width: 30px;
    height: 30px;
    left: -35px;
    top: -10px;
}
.nav-address {
    position: relative;
    color: #ffffff;
    font-weight: 400;
}
.nav-address::before {
    content: url("../img/svg/location-01.svg");
    width: 23px;
    height: 33px;
    position: absolute;
    left: -28px;
    top: -10px;
}
.nav-address::after {
    content: url("../img/images/nav-arrow.png");
    position: absolute;
    right: -14px;
}
.nav-phone {
    color: #ffffff;
    position: relative;
    font-weight: 400;
    cursor: pointer;
}
.nav-phone:hover {
   color: #ffffff;
}
.nav-phone::before {
    content: url("../img/svg/phone-01.svg");
    width: 21px;
    height: 21px;
    position: absolute;
    left: -25px;
}
.nav-phone::after {
    content: url("../img/images/nav-arrow.png");
    position: absolute;
    right: -14px;
}
input:checked ~ .nav-phone::after {
    content: url(../img/images/down-arrow-menu.png);
}
.nav-btn {
    width: 230px;
    height: 60px;
    border: none;
    background: rgb(234, 0, 12);
    color: #ffffff;
    z-index: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.nav-btn:hover {
    color: rgb(234, 0, 12);
    background: #ffffff;
}
.nav-content {
    height: 100%;
    display: flex;
    position: relative;
}
.down-nav {
    width: 100%;
    height: 45px;
    background-color: rgba(0%, 0%, 0%, .77);
    position: absolute;
    top: 105px;
    z-index: 20;
}
.down-nav-menu {
    display: flex;
    list-style: none;
    height: 100%;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
}
.down-nav-item {
    align-self: center;
    margin-right: 15px;
}
.down-nav-item a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}

/*DROPDOWNS*/
.dropdown-catalog {
    background: none !important;
}
.catalog-dropdown {
    background-color: rgba(0%, 0%, 0%, .77);
}
.my-dropdown-menu {
    background-color: transparent;
    top: 7px !important;
    border: none;
}
.catalog-dropdown {
    padding-top: 20px;
    padding-bottom: 20px;
}
.my-dropdown-item {
    list-style: none;
    overflow: visible ;
    position: relative;
}
.drop-in-drop {
    background-color: rgba(0%, 0%, 0%, .77);
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.drop-in-drop-container {
    display: none;
    background: transparent;
    padding-left: 50px;
    position: absolute;
    left: 280px;
    top: -20px
}
.my-dropdown-item:hover .drop-in-drop-container {
    display: block;

}
.dropdown-item:hover::after {
     content: url('../img/images/dropdown-after-arrow.png');
     position: absolute;
     right: 5px;
}
.drop-in-drop-item {
    white-space: nowrap;
    list-style: none;
    padding: .25rem 1.5rem;
}
#changeAddress {
    cursor: pointer;
}
/*END DROPDOWNS*/
.down-nav-item a:hover {
    color: rgb(234,0,12);
    background: none !important;
}
.shop-basket {
    margin-left: auto;
    height: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    right: 0;
}
.sravn {
    width: 22px;
    height: 22px;
}
.favorite {
    width: 22px;
    height: 20px;
}
.b-cart {
    width: 22px;
    height: 19px;
}
.search-shop {
    width: 16px;
    height: 18px;
    z-index: 2;
    position: relative;
    top: 3px;
    cursor: pointer;
}
.search-input {
    display: none;
}
.search-input {
    position: relative;
    width: 150px;
    background-color: rgba(100%, 100%, 100%, .2);
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding-left: 6px;
    font-size: 12px;
    font-weight: 400;
    right: -20px;
}
.search-input[placeholder]{color: #ffffff}
.search-input ::-moz-placeholder{color: #ffffff}
.price {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgba(100%, 100%, 100%, .3);
    align-self: center;
    margin-right: 20px;
}
.shop-basket-item {
    margin-right: 15px;
}
.shop-basket-item-number {
    color: #ffffff;
    position: relative;
    top: -8px;
    left: -8px;
}
/*Header mobile start*/
.responsive-logo {
    display: block;
    text-align: center;
}
.header-mobile {
    background-color: #000000;
    padding-top: 10px;
}
.entery-block {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: absolute;
    top: 18px;
    right: 18px;
}
.mobile-phone-address {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.mobile-phone-address {
    padding-left: 40px;
    padding-right: 20px;
}
.down-nav-mobile {
    height: 60px;
    background-color: rgba(0%, 0%, 0%, .77);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 160px;
    z-index: 20;
    width: 100%;
}
.shop-basket-mobile {
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
}
.mobile-search {
    display: flex;
}
.mobile-search-input {
    width: 150px;
    background-color: rgba(100%, 100%, 100%, .2);
    border: none;
    border-radius: 2px;
    color: #ffffff;
    padding-left: 6px;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    align-self: center;
    margin-right: 10px;
    display: none;
}
.mobile-search-shop {
    width: 16px;
    z-index: 2;
    position: relative;
    justify-self: center;
}
.hamburger {
    width: 41px;
    height: 25px;
    align-self: center;
    margin-right: 10px;
    margin-left: 10px;
}
.hamburger-label {
    align-self: center;
    margin-bottom: 0 !important;
}
.hamburger-input {
    display: none;
}
.mobile-navigation {
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 21;

}
.mobile-navigation-buttons {
    background-color: rgba(0, 0, 0, .84);
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    top: -60px;
    z-index: 3;
    display: none;
}
.mobile-button-prev {
    content: url("../img/images/arrow-left-mobile.png");
    position: absolute;
    width: 9px;
    height: 23px;
    left: 50px;
}
.mobile-button-next {
    content: url("../img/images/mobile-next-arrow.png");
    position: absolute;
    width: 9px;
    height: 23px;
    right: 50px;
}
.inCatalogNext {
    width: 9px;
    height: 23px;
    border: none;
    background: none;
    background: url("../img/images/dropdown-after-arrow.png");
    position: absolute;
    right: -20px;
}
.mobile-navigation-list:not(:last-child) {
    margin-bottom: 10px;
}
.mobile-navigation-list a{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}
.mobile-navigation-list a:active {
    color: #ea000c;
}
.cross {
    position: absolute;
    top: 12px;
    right: 23px;
    width: 26px;
    height: 27px;
    background: url("../img/images/cross.png") no-repeat;
    z-index: 5;
}
.catalog-link {
    position: relative;
}
.not-after::after {
    content: '';
}
.mobile-navigation-сatalog {
    display: none;
}
/*Header mobile end*/

/*Header slider start*/
.home-slider {
    width: 100%;
    z-index: -2;
}
.slider-one {

}
.item-of-slider {
    width: 100%;
    height: 100% !important;
    min-height: 648px;
    max-height: 760px;
}
.my-carousel-indicators {
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: 10%;
    bottom: 20%;
}
.my-carousel-indicators li {
    width: 96px !important;
    height: 3px !important;
    border-radius: 0 !important;
    opacity: 1 !important;
}
.my-carousel-indicators li.active {
    background-color: #ea000c;;
}
.home-slider-item {
    overflow: hidden;
    background: url("../img/images/home-slider.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 758px;
    display: flex;
    background-blend-mode: multiply !important;
}
.home-slider-item-content {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 4;
}
.slider-mask {
    position: absolute;
    width: 80%;
    height: 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 0;

}
.home-slider-item-main {
    color: #ffffff;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-bottom: 35px;
}
.home-slider-item-text {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    z-index: 0;
    margin-bottom: 140px;
}
.home-slider-btn {
    width: 240px;
    height: 60px;
    border: none;
    background: rgb(234, 0, 12);
    color: #ffffff;
    z-index: 1;
    border-radius: 4px;
}
.home-slider-btn:hover {
    background: #ffffff;
    color: rgb(234, 0, 12);
}
.owl-dots {
    right: 10%;
    bottom: 25%;
    position: absolute;
}
.owl-dot span{
    width: 96px !important;
    height: 3px !important;
    opacity: 1 !important;
    background-color: #ffffff !important;
}
.owl-item {
    margin-right: 0;
}
button.owl-dot.active span {
    background-color: rgb(234, 0, 12) !important;
}
/*header slider end*/
/*under slider start*/
.under-slider {
    position: relative;
    width: 100%;
    max-height: 212px;
    background-color: #000000;

}
.under-slider-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -118px;
    z-index: 30;
}
.under-slider-card {
    width: 454px;
    height: 260px;
    background: url("../img/images/mebel-dlya-rukovoditelya.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    border: 2px solid #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.under-slider-card:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.under-slider-card-text {
    height: 75px;
    background-color: rgba(0,0,0,.66);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 10px 10px;
}
.under-slider-card-text a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    align-self: center;
    text-decoration: none;
}
.second-under-card {
    background: url("../img/images/gotovyy_komplekt_mebeli_dlya_personala_offix_new_1-_1_.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.third-under-card {
    background: url('../img/images/third.png') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*under slider end*/
/*START HITS*/
.hits-main {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #ea000c;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}
.hit-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    z-index: 2;
}
.hit-card {
    height: 445px;
    position: relative;
    border: 1px solid #ea000c;
    border-radius: 10px;
}
.hit-card-main {
    margin-top: 48px;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
}
.card-img {
    width: 100%;
    height: 300px;
    padding-left: 1px;
    padding-right: 1px;
}
.hit-buttons {
    display: flex;
    justify-content: space-between;
}
.card-price {
    margin-right: 25px;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.old-price {
    font-size: 20px;
    color: #ea000c;
    font-family: Montserrat;
    font-weight: 700;
    text-decoration: line-through;
}
.card-favorit {
    width: 22px;
    height: 20px;
    background: url("../img/images/card-favorit.png") no-repeat;
    margin-right: 15px;
    cursor: pointer;
}
.check-for-favorit:checked ~ .card-favorit {
    background: url("../img/images/favorit-check.png") no-repeat;
}
.card-cart {
    width: 22px;
    height: 19px;
    background: url("../img/images/cart-card.png");
    margin-right: 15px;
    cursor: pointer;
}
.check-for-cart:checked ~ .card-cart {
    background: url("../img/images/card-cart-checked.png");
}
.card-sravn {
    width: 22px;
    height: 22px;
    background: url("../img/images/cart-sravn.png");
    margin-right: 15px;
    cursor: pointer;
}
.check-for-sravn:checked ~ .card-sravn {
    background: url("../img/images/sravn-checked.png");
}
.down-card-block {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    opacity: .99;
}
.card-lub {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 56px;
    background: url("../img/images/lub.png") no-repeat;
}
.lub-content {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    transform: rotate(-45deg);
    position: relative;
    left: -7px;
    bottom: -15px;
}
.card-bonus {
    width: 62px;
    height: 56px;
    position: absolute;
    top: 0;
    right: -6px;
    background: url("../img/images/card-bonus.png") no-repeat;
    cursor: pointer;
}
.card-bonus-text {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    right: 14px;
    top: 4px;
}
.card-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(28%, 28%, 28%,.7);
    text-align: center;
    display: none;
}
.hit-card:hover .card-mask {
    display: block;
}
.hit-card:hover .hit-card-main {
    color: #ffffff;
    z-index: 20;
    opacity: .99;
}
.mask-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.card-mask-button {
    cursor: pointer;
    background: transparent;
    border: 3px solid #ffffff;
    width: 160px;
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    bottom: 115px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.card-mask-button:hover {
    background: #ffffff;
    color: #474747;
}
.mask-to-cart {
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    border: none;
    margin-top: 255px;
}
.mask-to-cart::before {
    width: 20px;
    height: 20px;
    background: url("../img/images/cart-in-mask.png");
    padding-right: 10px;
}
.mask-good-colors {
    position: absolute;
    top: 75px;
    right: 23px;
    display: flex;
    flex-direction: column;
}
.mask-good-color {
    width: 33px;
    height: 33px;
    background-color: #000000;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.grey-bg {
    background-color: #d0d0d0;
}
.black-bg {
    background-color: #000000;
}
.white-bg {
    background-color: #ffffff;
}
.color-check:checked ~ .mask-good-color{
    border-color: red;
}
.hits-button-container {
    text-align: center;
    margin-bottom: 50px;
}
.hits-btn {
    width: 240px;
    height: 60px;
    border: none;
    background: rgb(234, 0, 12);
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.hits-btn:hover {
    background: #ffffff;
    color: rgb(234, 0, 12);
    border-color: rgb(234, 0, 12);
}

/*END HITS*/
/*WHY WE START*/
.why-we {
    background-color: #000000;
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
}
.why-we-main {
    font-size: 25px;
    color: rgb(234, 0, 12);
}
.why-we-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
}
.why-we-card-img {
    margin-top: 75px;
    margin-bottom: 25px;
    width: 132px;
    height: 132px;
    background-position: center center;
}
.why-we-card-img-1 {
    background: url("../img/images/stabil.png") no-repeat;
}
.why-we-card-img-1:hover {
    background: url("../img/images/1.png") no-repeat;
}
.why-we-card-img-2 {
    background: url("../img/images/good-price.png") no-repeat;
}
.why-we-card-img-2:hover {
    background: url("../img/images/2.png") no-repeat;
}
.why-we-card-img-3 {
    background: url("../img/images/individ.png") no-repeat;
}
.why-we-card-img-3:hover {
    background: url("../img/images/3.png") no-repeat;
}
.why-we-card-img-4 {
    background: url("../img/images/shir-ass.png") no-repeat;
}
.why-we-card-img-4:hover {
    background: url("../img/images/4.png") no-repeat;
}
.why-we-card-img-5 {
     background: url("../img/images/garant.png") no-repeat;
 }
.why-we-card-img-5:hover {
    background: url("../img/images/5.png") no-repeat;
}
.why-we-card-img-6 {
    background: url("../img/images/design.png") no-repeat;
}
.why-we-card-img-6:hover {
    background: url("../img/images/6.png") no-repeat;
}
.why-we-card-main {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}
.why-we-card-text {
    font-size: 14px;
    color: #ffffff;
}
.why-we-item-carosel {
    background-color: #000;
    display: grid;
    grid-template-columns: auto auto;
}
.slider-two {
    width: 100%;
    background: #000;
    display: flex;
}
.slider-two .why-we-card {
    margin-top: 50px;
    text-align: center;
    width: 45%;
}
.slider-two .why-we-card img{
    width: 131px;
    height: 131px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.second-slider-item {
    display: flex;
    justify-content: space-between;
}
.slider-two .owl-dots{
    display: none !important;
}
.mobile-why-we {
    display: none;
}
.mobile-why-we-main {
    text-align: center;
    background-color: #000000;
    margin-bottom: 0 !important;
}
.mobile-why-we-main h2 {
    color: #ff0004;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    padding-top: 35px !important;
}
.slider-two button.owl-next span {
    color: transparent;
    width: 9px;
    height: 23px;
    background: url("../img/images/next-arrow-mobile-slider.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 30 !important;
}
.slider-two button.owl-prev span {
    color: transparent;
    width: 9px;
    height: 23px;
    background: url("../img/images/prev-arrow-mobile-slider.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 30 !important;
}
/*WHY WE END*/

/*NOVICE*/
.novice {
    padding-bottom: 85px;
}
.get-consultation {
    text-align: center;
}
.get-consultation-main {
    color: #ea000c;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.get-consultation-form {
    display: flex;
    justify-content: center;
}
.get-consultation-form input{
    margin-right: 50px;
    color: #ea000c;
    padding-left: 15px;
    padding-right: 15px;
}
.get-consultation-text-input {
    width: 209px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ea000c;
}
.get-consultation-phone-input {
    width: 209px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ea000c;
}
.get-consultation-form input::-webkit-input-placeholder {color:red;}
.get-consultation-form input::-moz-placeholder          {color:red;}/* Firefox 19+ */
.get-consultation-form input:-moz-placeholder           {color:red;}/* Firefox 18- */
.get-consultation-form input:-ms-input-placeholder      {color:red;}

.call-for-me {
    width: 209px;
    height: 50px;
    border-radius: 4px;
    background-color: #ea000c;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.call-for-me:hover {
    color: #ea000c;
    background-color: #fff;
    border-color: #ea000c;
}
/*NOVICE END*/

/*PARTNERS*/
.partners {
    background-color: #e8e8e8;
}
.thrid-slider-item img {
    width: 200px !important;
    height: 60px;
}
.partners-main {
    color: #ea000c;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}
.partners-text {
    color: #2b2b2b;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
}
.thrid-slider button.owl-next span {
    color: transparent;
    width: 25px;
    height: 50px;
    background: url("../img/images/third-slider-next.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 50px;
}
.thrid-slider button.owl-prev span {
    color: transparent;
    width: 25px;
    height: 50px;
    background: url("../img/images/third-slider-prev.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 50px;
}
/*END PARTNERS*/

/*Start contacts*/
.contacts {
    background-color: #ea000c;
}
.contacts-main {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
}
.contacts-address {
    font-size: 20px;
    color: #ffffff;
}
.contacts-phone a {
    font-size: 20px;
    color: #ffffff;
}
.contacts-mail a {
    font-size: 20px;
    color: #ffffff;
}
.contacts .get-consultation-text-input {
    border-color: #ffffff;
    background-color: #ea000c;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}
.contacts .get-consultation-phone-input {
    border-color: #ffffff;
    background-color: #ea000c;
    color: #ffffff;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.contacts-textarea {
    border-color: #ffffff;
    background-color: #ea000c;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    width: 386px;
    height: 115px;
    border-radius: 4px;
    margin-left: 30px;
    padding-top: 10px;
}
.contacts .call-for-me {
    background-color: #fff;
    color: #ea000c;
    margin-top: 15px;
    border: 1px solid transparent;
}
.call-for-me-mobile {
    display: none;
}
.contacts .call-for-me:hover {
    color: #fff;
    border-color: #fff;
    background-color: #ea000c;
}
.contacts input::-webkit-input-placeholder {color: #ffffff;}
.contacts input::-moz-placeholder          {color: #ffffff;}/* Firefox 19+ */
.contacts input:-moz-placeholder           {color: #ffffff;}/* Firefox 18- */
.contacts input:-ms-input-placeholder      {color: #ffffff;}
.contacts textarea::-webkit-input-placeholder {color: #ffffff;}
.contacts textarea::-moz-placeholder          {color: #ffffff;}/* Firefox 19+ */
.contacts textarea:-moz-placeholder           {color: #ffffff;}/* Firefox 18- */
.contacts textarea:-ms-input-placeholder      {color: #ffffff;}
/*End contacts*/

/*Footer*/
.footer {
    background-color: #000;
}
.footer-list {
    list-style: none;
}
.footer-list a{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-text p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
.footer-mobile-text p{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
}
/*End Footer*/

/*MODAL*/
.modal-window {
    box-shadow: 0 2px 9px 1px rgba(29, 21, 16, 0.28);
    border-radius: 4px;
    border: 1px solid #ea000c;
    background-color: rgba(100%, 100%, 100%, .91);
    padding: 40px 75px 30px 75px;
    z-index: 400;
    width: 600px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
}
.modal-main {
    color: #ea000c;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.modal-text {
    color: #574646;
    font-size: 16px;
    font-weight: 400;
}
.modal-button {
    width: 174px;
    height: 46px;
    border-radius: 4px;
    border: 2px solid #ea000c;
    background-color: #ffffff;
    color: #ea000c;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.modal-button:hover {
    border: 2px solid #ea000c;
    background-color: #ea000c;
    color: #fff;

}
.city-checkbox {
    display: none;
}
.city-label::after {
    content: url("../img/images/empty-city-check.png");
    min-width: 20px;
    min-height: 20px;
    margin-left: 10px;
}

.city-label span {
    color: #ea000c;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.modal-city-inputs {
    margin-top: 30px;
}
.modal-cross {
    width: 16px;
    height: 16px;
    background: url("../img/images/modal-cross.png");
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.choiseCity {
    position: absolute;
    border: 2px solid #ea000c;
    background-color: rgba(100%,100%,100%, .85);
    padding: 5px;
    text-align: left;
    right: -60px;
    top: 20px;
    display: none;
}
.choiseCity li {
    list-style: none;
    color: #ea000c;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.choiseCity li:hover {
    color: #000000;
}
.city-list {
    display: none;
    cursor: pointer;
}
#checkInModal {
    display: none;
}
#checkInModal:checked ~ li .city-list{
    display: block;
}
.first-city-modal span::after {
    content: url("../img/images/strelka.png");
}
.city-label {
    cursor: pointer;
}
#notCurrentCity:checked ~ label::after {
    content: url("../img/images/checked-city.png");
}
.modal-call-back-inputs input {
    color: red;
}
.modal-call-back-inputs  input::-webkit-input-placeholder {color: #ea000c;}
.modal-call-back-inputs  input::-moz-placeholder          {color: #ea000c;}/* Firefox 19+ */
.modal-call-back-inputs  input:-moz-placeholder           {color: #ea000c;}/* Firefox 18- */
.modal-call-back-inputs  input:-ms-input-placeholder      {color: #ea000c;}

.red-btn {
    background-color: #ea000c;
    color: #fff;
    width: 208px;
}
.red-btn:hover {
    border: 1px solid #ea000c;
    color: #ea000c;
    background-color: #fff;
}
#callBack {
    display: none;
}
#goodCallBack {
    display: none;
}
#bonusModal {
    display: none;
}
/*END MODAL*/


/*ABOUT START*/
.cotntacs-main-block {
    background: url(../img/images/contacts-bg.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 975px;
}
.bread-crumbs {
    position: absolute;
    top: 60px;
}
.bread-crumbs a {
    color: #fff;
}
.bread-crumbs a:not(:last-child)::after{
    content: '/';
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
.bread-crumbs a:last-child {
    color:  #ea000c;
}
.bread-crumb-img {
    position: relative;
    top: -2px;
}
.cotntacs-main-text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}
.contacts-why-we-mobile {
    display: none;
}
.contacts-why-we-mobile .slider-two {
    background: transparent;
}
.cotntacs-main {
    color: #ea000c;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}
.cotntacs-main-text-content {
    max-width: 930px;
}
/*END ABOUT*/

/*START CONTACTS*/
.contacts-block {
    background: url(../img/images/contacts-bg.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 870px;
}
.contacts-block-main {
    text-align: center;
    color: #ea000c;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}
.contacts-company-name {
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}
.contacts-block-mini-name {
    font-size: 18px;
    color: #ea000c;
    text-transform: uppercase;
}
.contacts-block-mini-text {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.contacts-block-mini-text a {
    color: #fff;
}
.contact-right-input {
    width: 330px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #fff;
    background: transparent;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.contacts-right input::-webkit-input-placeholder {color:#fff;}
.contacts-right input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.contacts-right input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.contacts-right input:-ms-input-placeholder      {color:#fff;}
.contact-right-textarea {
    width: 330px;
    height: 115px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    color: #fff;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}
.contacts-right textarea::-webkit-input-placeholder {color:#fff;}
.contacts-right textarea::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.contacts-right textarea:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.contacts-right textarea:-ms-input-placeholder      {color:#fff;}
.contact-right-btn {
    width: 201px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}
.contact-right-btn:hover {
    background: #000;
    color: #fff;
}
/*EMD CONTACTS*/
/*CART*/
.all-bg{
    background: url("../img/images/cartBG.png");
    -webkit-background-size: cover;
    background-size: cover;
}
.cart-main {
    color: #ea000c;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.cart-hr {
    width: 100%;
    height: 2px;
    background-color: #000000;
}
.cart-counter-block {
    height: 36px;
}
.cart-good-img {
    width: 195px;
    height: 212px;
}
.cart-good-main {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.cart-good-price {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-good-description {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
}
.dec {
    width: 50px;
    border: 1px solid  #ea000c;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px 0 0 8px;
}
.dec:hover {
    background-color: #ea000c;
}
.amount {
    width: 50px;
    text-align: center;
    background-color: #ea000c;
    border: none;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.inc {
    width: 50px;
    border: 1px solid  #ea000c;
    background-color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0 8px 8px 0;
}
.inc:hover {
    background-color: #ea000c;
}
.delete-good {
    color: #ea000c;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    border: none;
    text-align: right;
    cursor: pointer;
}
.delete-good::before {
    content: url(../img/images/good-cross.png);
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.delete-good:hover {
    color: #000;
}
.price-result-main {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.cupon-enter {
    width: 145px;
    height: 36px;
    border-radius: 8px 0  0 8px;
    border: 1px solid #ea000c;
    background-color: #ffffff;
    color: #ea000c;
    padding-left: 10px;
}
.get-cupon {
    background-color: #ea000c;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0 8px 8px 0;
}
.get-cupon:hover {
    border: 1px solid #ea000c;
    background-color: #fff;
    color: #ea000c;
}
.price-resilt-radio {
    display: none;
}
.radio-cart {
    cursor: pointer;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}
.price-resilt-radio ~.radio-cart::before {
    content: url("../img/icon/price-result-before.png");
    cursor: pointer;
    margin-right: 15px;
}
.price-resilt-radio:checked ~ .radio-cart::before {
    content: url("../img/icon/price-result-before-checked.png");
    cursor: pointer;
}
.price-result-form-input {
    width: 230px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #ea000c;
    padding: 10px;
    background-color: transparent;
}
.price-result-textarea {
    width: 513px;
    height: 126px;
    border-radius: 4px;
    border: 1px solid #ea000c;
    padding: 10px;
    background-color: transparent;
}


.price-result-form input::-webkit-input-placeholder {color:#000;}
.price-result-form input::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.price-result-form input:-moz-placeholder           {color:#000;}/* Firefox 18- */
.price-result-form input:-ms-input-placeholder      {color:#000;}
.price-result-form .price-result-textarea::-webkit-input-placeholder {color:#000;}
.price-result-form .price-result-textarea::-moz-placeholder          {color:#000;}/* Firefox 19+ */
.price-result-form .price-result-textarea:-moz-placeholder           {color:#000;}/* Firefox 18- */
.price-result-form .price-result-textarea:-ms-input-placeholder      {color:#000;}

.price-form-result-text {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}
.price-form-result-text  span{
    color: #ea000c;
}
.price-form-result-btn {
    width: 210px;
    height: 50px;
    border-radius: 4px;
    background-color: #ea000c;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.price-form-result-btn:hover {
    color :#ea000c;
    border: 1px solid #ea000c;
    background-color: #fff;
}
.price-result-right-text {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.price-result-right-text span{
    color: #ea000c;
}
.red-after a::after {
    color: #ea000c !important;
}
/*END CART*/